{% assign lang_prefix = '' %}{% if page.lang == 'fr' %}{% assign lang_prefix = '/fr' %}{% endif %}
<div class="cover">
  <a href="{{ site.url }}{{ site.baseurl }}{{ lang_prefix }}/photography/">
    <img class="cover-image" alt="To the Sea"
         src="{{ site.url }}{{ site.baseurl }}/assets/photography/to_the_sea/DSC_4227-1-2784x1856.jpg"
         srcset="{{ site.url }}{{ site.baseurl }}/assets/photography/to_the_sea/DSC_4227-1-1392x928.jpg 1392w, {{ site.url }}{{ site.baseurl }}/assets/photography/to_the_sea/DSC_4227-1-2784x1856.jpg 2784w"
         sizes="(max-width: 800px) 100vw, 800px" />
  </a>
</div>
